.drag-handle {
  cursor: grab;
}

.smooth-dnd-draggable-wrapper {
  border: 1px solid transparent;
	transition: border 1s ease;
	border-radius: 4px;
}

.smooth-dnd-draggable-wrapper:hover {
	border: 1px solid #CCC;
}