.draggable-item {
	position: relative;
  cursor: grab;
}

.draggable-item:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	border-radius: 4px;
  border: 1px solid transparent;
  transition: all 1s ease;
}

.draggable-item:hover:before {
	border: 1px solid #CCC;
}